.mat-table {
  display: table;
  width: 100%;
  vertical-align: middle;

  th {
    background-color: blue;
    color: white;
  }
}

.container-order {
  margin: 30px;
}

h1 {
  text-align: center;
}

.order-checkbox {
  margin: 5px;
}
