.mat-table {
  display: table;
  width: 100%;
  vertical-align: middle;

  th {
        color: primary;
  }
}

.container-order {
  margin: 30px;
}

h1 {
  text-align: center;
}

.order-checkbox {
  margin: 5px;
}

.mat-row:nth-child(even){
  background-color: #e4f0ec;
  }

.mat-row:nth-child(odd){
  background-color:#ffffff;
  }
